* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.trakcer{
    position: absolute;
    width: 35px;
    height: 35;
    border-radius: 50%;
    background-color: #fff;
}


/* Style the header */

.header {
    background-color: hsla(192, 87%, 65%, 0.671);
    padding: 20px;
    text-align: center;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: rgba(80, 8, 175, 0.238);
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: hsl(118, 69%, 51%);
    text-align: center;
    padding: 14px 110px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: rgb(38, 134, 121);
    color: black;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* ====================================================================== */

.dropdown {
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    /* Spacing */
    padding: 8px;
    /* Used to position the sub dropdown */
    position: relative;
}


/* The sub dropdown */

.dropdown ul {
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* Hidden by default */
    display: none;
    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;
    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Width */
    width: 200px;
}


/* The second level sub dropdown */

.dropdown ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}


/* Change background color of list item when being hovered */

.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Show the direct sub dropdown when hovering the list item */

.dropdown li:hover>ul {
    display: block;
}

body {
    background-image: url('bilde.jpg');
    background-size: 100% 600%;
}